* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Verdana', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.8;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: url('../img/Oryginalny.png'), linear-gradient(to bottom, #ffffff, #ffffff);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
}

header p {
    font-size: 22px;
    font-weight: 400;
}

.language-switch {
    display: flex;
    gap: 10px;
    margin-top: 0;
}

.lang-btn {
    background-color: #0057b7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.lang-btn:hover {
    background-color: #ffd700;
}

.lang-btn.active {
    background-color: #ffd700;
    color: #0057b7;
}

section {
    background-color: #fff;
    margin: 20px 0;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: slideIn 1s ease-out;
}

section h2 {
    font-size: 32px;
    color: #00264d;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 3px;
}

section h3 {
    text-align: center;
    color: #00264d;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.section.about,
.section.contact {
    text-align: center;
}

section p,
section ul {
    font-size: 18px;
}



.cert-image {
    width: 15%;
    height: auto;
    margin-right: 20px;
    transition: transform 0.3s ease-in-out;
}

.cert-image:hover {
    transform: scale(1.1);
}

.contact a {
    color: #00264d;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

.map-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: 0 auto;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
    text-shadow: 0.5px 1px 0px rgb(248, 5, 249);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

#services {
    background-color: #ffffff;
    text-align: center;
}

#services h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
}

.service-cards {
    display: flex;
    justify-content: space-between;
}

.service-cards .card {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 40px;
    width: 30%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.service-cards .card:hover {
    transform: translateY(-10px);
}

.service-cards .card h3 {
    font-size: 1.8em;
    color: #1e3a8a;
    margin-bottom: 20px;
}

.service-cards .card p {
    font-size: 1.1em;
    line-height: 1.6;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .service-cards {
        flex-direction: column;
        gap: 20px;
    }

    .service-cards .card {
        width: 100%;
        padding: 20px;
    }

    #services h2 {
        font-size: 1.8em;
        margin-bottom: 20px;
    }
}

