* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.8;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {

}

h1 {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
}

header p {
    font-size: 22px;
    font-weight: 400;
}

.header {
    background:
            url('../img/Oryginalny.png'),
            linear-gradient(to bottom, #ffffff, #ffffff);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
}





.language-switch {
    display: flex;
    gap: 10px;
    margin-top: 0;
}

.lang-btn {
    background-color: #0057b7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.lang-btn:hover {
    background-color: #ffd700;
}

.lang-btn.active {
    background-color: #ffd700;
    color: #0057b7;
}

section {
    background-color: #fff;
    margin: 20px 0;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: slideIn 1s ease-out;
}

section h2 {
    font-size: 32px;
    color: #00264d;
    margin-bottom: 20px;
    text-align: center;
}

section h3 {
    text-align: center;
    color: #00264d;
    margin-bottom: 10px;
}

.section.about {
    text-align: center;
}
.section.contact{
    text-align: center;
}

section p,
section ul {
    font-size: 18px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    background-color: #e6f2ff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}

ul li:hover {
    background-color: #cce5ff;
}

.cert-image {
    width: 15%;
    height: auto;
    margin-right: 20px;
    transition: transform 0.3s ease-in-out;
}

.cert-image:hover {
    transform: scale(1.1);
}



.contact a {
    color: #00264d;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .map-container {
        padding-bottom: 75%;
    }
}


footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
    text-shadow: 0.5px 1px 0px rgb(248, 5, 249);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.section.services {
    background-color: #f9f9f9;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    animation: slideIn 1s ease-out;
}

/* Nagłówek sekcji */
.section.services h2 {
    font-size: 36px;
    color: #00264d;
    text-align: center;
    margin-bottom: 20px;
}

/* Karty usług */
.service-card {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.service-card:hover {
    transform: translateY(-5px);
}

.service-card h3 {
    font-size: 24px;
    color: #0057b7;
    margin-bottom: 10px;
    text-align: center;
}

.service-card ul {
    list-style-type: none;
    padding-left: 0;
}

.service-card ul li {
    background-color: #e6f2ff;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.service-card ul li:hover {
    background-color: #cce5ff;
}

@media (max-width: 768px) {
    .section.services .section-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .service-card {
        width: 100%;
        margin: 10px 0;
    }

    .section.services h2 {
        font-size: 28px;
    }

    .service-card h3 {
        font-size: 20px;
    }

    .service-card ul li {
        font-size: 14px;
    }
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


